@font-face {
  font-family: 'cg';
  src: url('../fonts/cg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cg.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cg.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cg.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'cg-bold';
  src: url('../fonts/cg-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cg-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cg-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cg-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cg-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}